# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
docs/flow/edges.csv
docs/flow/nodes.csv
docs/flow/screenshots/desktop/en.png
docs/flow/screenshots/desktop/enabout.png
docs/flow/screenshots/desktop/encontact.png
docs/flow/screenshots/desktop/enlegalmentions_legales.png
docs/flow/screenshots/desktop/enlegalprivacy_policy.png
docs/flow/screenshots/desktop/enlegalterms.png
docs/flow/screenshots/desktop/enproducts.png
docs/flow/screenshots/desktop/enproducts_cat_autres.png
docs/flow/screenshots/desktop/enproducts_cat_chasubles.png
docs/flow/screenshots/desktop/enproducts_cat_jupes.png
docs/flow/screenshots/desktop/enproducts_cat_pediatrique.png
docs/flow/screenshots/desktop/enproducts_cat_tabliers.png
docs/flow/screenshots/desktop/enproducts_cat_vestes.png
docs/flow/screenshots/desktop/enproductsjupe_radioprotection.png
docs/flow/screenshots/desktop/enproductsprotege_thyroide_pro.png
docs/flow/screenshots/desktop/enproductstablier_plombe_premium.png
docs/flow/screenshots/desktop/enproductsveste_protection.png
docs/flow/screenshots/desktop/enquote.png
docs/flow/screenshots/desktop/enservices.png
docs/flow/screenshots/desktop/enservicescleaning.png
docs/flow/screenshots/desktop/enservicesquality.png
docs/flow/screenshots/desktop/enservicesrental.png
docs/flow/screenshots/desktop/fr.png
docs/flow/screenshots/desktop/frabout.png
docs/flow/screenshots/desktop/frcontact.png
docs/flow/screenshots/desktop/frlegalmentions_legales.png
docs/flow/screenshots/desktop/frlegalprivacy_policy.png
docs/flow/screenshots/desktop/frlegalterms.png
docs/flow/screenshots/desktop/frproducts.png
docs/flow/screenshots/desktop/frproducts_cat_autres.png
docs/flow/screenshots/desktop/frproducts_cat_chasubles.png
docs/flow/screenshots/desktop/frproducts_cat_jupes.png
docs/flow/screenshots/desktop/frproducts_cat_pediatrique.png
docs/flow/screenshots/desktop/frproducts_cat_tabliers.png
docs/flow/screenshots/desktop/frproducts_cat_vestes.png
docs/flow/screenshots/desktop/frproductsjupe_radioprotection.png
docs/flow/screenshots/desktop/frproductsprotege_thyroide_pro.png
docs/flow/screenshots/desktop/frproductstablier_plombe_premium.png
docs/flow/screenshots/desktop/frproductsveste_protection.png
docs/flow/screenshots/desktop/frquote.png
docs/flow/screenshots/desktop/frservices.png
docs/flow/screenshots/desktop/frservicescleaning.png
docs/flow/screenshots/desktop/frservicesquality.png
docs/flow/screenshots/desktop/frservicesrental.png
docs/flow/screenshots/desktop/home_en_products_dropdown.png
docs/flow/screenshots/desktop/home_en_services_dropdown.png
docs/flow/screenshots/desktop/home_fr_products_dropdown.png
docs/flow/screenshots/desktop/home_fr_services_dropdown.png
docs/flow/screenshots/mobile/en.png
docs/flow/screenshots/mobile/enabout.png
docs/flow/screenshots/mobile/encontact.png
docs/flow/screenshots/mobile/enlegalmentions_legales.png
docs/flow/screenshots/mobile/enlegalprivacy_policy.png
docs/flow/screenshots/mobile/enlegalterms.png
docs/flow/screenshots/mobile/enproducts.png
docs/flow/screenshots/mobile/enquote.png
docs/flow/screenshots/mobile/enservices.png
docs/flow/screenshots/mobile/fr.png
docs/flow/screenshots/mobile/frabout.png
docs/flow/screenshots/mobile/frcontact.png
docs/flow/screenshots/mobile/frlegalmentions_legales.png
docs/flow/screenshots/mobile/frlegalprivacy_policy.png
docs/flow/screenshots/mobile/frlegalterms.png
docs/flow/screenshots/mobile/frproducts.png
docs/flow/screenshots/mobile/frquote.png
docs/flow/screenshots/mobile/frservices.png
docs/flow/screenshots/mobile/home_fr_menu_open.png
docs/flow/screenshots/mobile/home_fr_menu_products_open.png
docs/flow/screenshots/mobile/home_fr_menu_services_open.png
